@import "reset";

section {
  width: 800px;
  height: 400px;
  border: 1px solid #333;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    span {
      font-size: 50px;
      transform: scale(3);
      opacity: 0;
      transition: all 0.5s;

      &:nth-of-type(1) {
        transition-delay: 0s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.4s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.5s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.6s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.7s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.8s;
      }
      &:nth-of-type(10) {
        transition-delay: 0.9s;
      }
    }
  }

  &:hover {
    h1 {
      span {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
